* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #101319;
  font-family: "Silka", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 60px;
}

h2 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
}

p {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

/* FONTS */
@font-face {
  font-family: "Silka";
  src: url(/resources/fonts/Silka-Regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Silka";
  src: url(/resources/fonts/Silka-Medium.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Silka";
  src: url(/resources/fonts/Silka-SemiBold.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Silka";
  src: url(/resources/fonts/Silka-Bold.otf) format("opentype");
  font-weight: 700;
}

/* WRAPPER */
.content-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

/* NAVBAR */
nav {
  display: flex;
  padding-top: 48px;
  width: 100%;
}

.content-wrapper.wide {
  display: flex;
  align-items: center;
  max-width: 2160px;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
}

.logo svg path {
  transition: all 200ms ease;
}

.logo:hover svg path {
  fill: rgba(255, 255, 255, 0.6);
}

.contact-button {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 200px;
  cursor: pointer;
  padding: 24px 40px;
  transition: all 200ms ease;
}

.contact-button:hover {
  background-color: #fff;
  border: 1px solid #fff;
}

.contact-button:hover p {
  color: #111;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  display: flex;
  overflow: visible;
  height: 80vh;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
}

.content-wrapper.hero {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  column-gap: 10vw;
  row-gap: 0px;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto;
}

.hero-image-wrapper {
  position: relative;
  min-height: 480px;
  min-width: 100%;
  margin-top: -40px;
}

.hero-image {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 10;
  border-radius: 16px;
  background-image: url(/resources/images/pfp.jpg);
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: none;
}

.hero-image-shadow {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: -10;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  backdrop-filter: blur(32px);
  animation: slideAnimation 2s;
  animation-fill-mode: forwards;
}

.visual-blur-shape {
  position: absolute;
  z-index: -10;
  display: flex;
  margin-left: 200px;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
  opacity: 0.12;
}

.hero-content {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 610px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  margin-top: 32px;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.8);
}

.social-icons {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  column-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.icon {
  height: 24px;
}

.icon svg path {
  fill: rgba(255, 255, 255, 0.8);
}

.link-wrapper {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: all 200ms ease;
  cursor: pointer;
}

.link-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 200px;
}

.link-wrapper:hover svg path {
  fill: #ffffff;
}

/* PORTFOLIO SECTION */
.portfolio-item {
  display: flex;
  overflow: hidden;
  height: 560px;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.04);
}

.portfolio-info {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-right: 6%;
  margin-left: 96px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tagline {
  margin-bottom: 24px;
  padding: 1px 14px 0px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  font-size: 10px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.p-mid.portfolio {
  margin-top: 24px;
  margin-bottom: 24px;
}

.link-to {
  display: flex;
  margin-bottom: 8px;
  margin-left: -16px;
  padding: 8px 20px 8px 16px;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: transparent;
  transition: all 200ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0px;
  white-space: nowrap;
  cursor: pointer;
}

.link-to:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 200px;
}

.icon.with-text {
  margin-right: 8px;
  opacity: 0.6;
}

.portfolio-image-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 96px;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 0px;
  row-gap: 0px;
}

.portfolio-image {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 500px;
  margin-bottom: -40px;
  border-radius: 8px;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  object-position: 50% 0%;
  max-width: 100%;
}

.portfolio-image.back {
  z-index: 0;
  width: 280px;
  height: 368px;
  margin-top: -4px;
  margin-left: -100px;
  align-self: flex-start;
  object-position: 50% 100%;
  max-width: 100%;
}

.portfolio-item.alt {
  flex-direction: row-reverse;
}

.portfolio-info.alt {
  margin-right: 64px;
  margin-left: 6%;
}

.portfolio-image-wrapper.alt {
  padding-right: 0px;
  padding-left: 96px;
  flex-direction: row-reverse;
}

.portfolio-image.back.alt {
  margin-right: -100px;
  margin-left: 0px;
  object-position: 50% 90%;
}

/* SKILLS SECTION */
.skills-section {
  margin-bottom: 150px;
}

.content-wrapper.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.skills-content h2 {
  margin-bottom: 32px;
}

.skill-icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
}

.skill-icons div svg path {
  fill: rgba(255, 255, 255, 0.8);
}

.skill-icons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

/* FOOTER */
.content-wrapper.wide.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-links {
  display: flex;
}

.link-to.footer {
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  font-weight: 500;
}

.footer-cr {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes slideAnimation {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  to {
    opacity: 1;
    transform: translate3d(32px, 32px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .content-wrapper.hero {
    column-gap: 6vw;
  }

  .hero-section {
    height: auto;
    padding-top: 128px;
    padding-bottom: 196px;
  }

  .hero-content {
    padding-left: 32px;
  }

  nav {
    padding-top: 32px;
  }

  .hero-p {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .portfolio-info {
    position: relative;
    z-index: 10;
    max-width: 480px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
  }

  .portfolio-info.alt {
    margin-right: 0px;
    margin-left: 0%;
  }

  .portfolio-image-wrapper {
    padding-right: 10%;
    padding-left: 10%;
    flex-direction: row;
    justify-content: space-between;
  }

  .portfolio-image-wrapper.alt {
    padding-right: 10%;
    padding-left: 10%;
    flex-direction: row;
  }

  .portfolio-item {
    height: 860px;
    margin-bottom: 10%;
    flex-direction: column;
  }

  .portfolio-item.alt {
    flex-direction: column;
  }

  .portfolio-image {
    width: 480px;
  }

  .portfolio-image.back {
    height: 520px;
    margin-bottom: 0px;
    margin-left: -120px;
    align-self: flex-end;
    object-position: 50% 0%;
  }

  .portfolio-image.back.alt {
    margin-right: 0px;
    margin-left: -120px;
  }

  h1 {
    font-size: 40px;
  }

  .hero-image {
    left: 0%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .hero-image-wrapper {
    min-height: 400px;
    min-width: 360px;
    margin-top: 0px;
    margin-right: 0vw;
    margin-left: -14vw;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 26px;
  }

  .content-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .content-wrapper.hero {
    padding-right: 128px;
    padding-left: 128px;
    flex-direction: column;
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .content-wrapper.wide.footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .hero-section {
    height: auto;
    padding-bottom: 128px;
  }

  .p-mid.portfolio {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
  }

  .contact-button {
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .portfolio-info {
    margin-bottom: 32px;
  }

  .portfolio-item {
    height: 720px;
  }

  .portfolio-image.back {
    height: 480px;
  }

  .hero-image {
    left: 0%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .hero-image-wrapper {
    min-height: 360px;
    margin-right: 0vw;
    margin-bottom: 80px;
    margin-left: 0vw;
    align-self: flex-start;
  }

  .visual-blur-shape {
    margin-bottom: -196px;
    margin-left: 0px;
  }

  .skill-icons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .skills-section {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 24px;
    line-height: 130%;
  }

  .content-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }

  .content-wrapper.hero {
    overflow: hidden;
    padding-right: 32px;
    padding-left: 32px;
  }

  .content-wrapper.portfolio {
    margin-bottom: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .content-wrapper.wide {
    padding-right: 32px;
    padding-left: 32px;
  }

  .hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .tagline {
    font-size: 10px;
  }

  .link-to {
    margin-bottom: 0px;
    margin-left: -13px;
    padding: 6px 16px 6px 12px;
    font-size: 13px;
  }

  .link-to.footer {
    margin-right: -12px;
    margin-left: -12px;
    transform: scale(0.8);
  }

  .contact-button {
    padding-right: 32px;
    padding-left: 32px;
  }

  .contact-button p {
    font-size: 14px;
  }

  .portfolio-info {
    padding-top: 8%;
    padding-right: 8%;
    padding-left: 8%;
  }

  .portfolio-image-wrapper {
    height: 320px;
    margin-top: 0px;
    padding-right: 8%;
    padding-left: 8%;
  }

  .portfolio-image-wrapper.alt {
    padding-right: 8%;
    padding-left: 8%;
  }

  h1 {
    font-size: 36px;
  }

  .portfolio-item {
    height: 640px;
    justify-content: flex-start;
  }

  .portfolio-image {
    height: 100%;
    margin-bottom: 0px;
  }

  .portfolio-image.back {
    display: none;
  }

  .hero-image {
    background-position: 50% 60%;
    box-shadow: none;
  }

  .hero-image-shadow {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .hero-image-wrapper {
    width: 100%;
    min-width: auto;
  }

  .skills-section {
    margin-bottom: 40px;
  }
}
